html {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 1.85rem;
}

.bio-table {
    font-size: 85%;
}

.sidebar {
    background-image: url('/public/images/bkgd-dark.jpg');
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.sidebar-nav-item {
    line-height: 1.25;
  }

.sidebar-about .lead {
 	font-family: 'Merriweather', serif;
  	font-size: 2.2rem;
}

.related-posts h3 {
  font-size: 85%;
}

.post-date {
    font-size: 85%;
}

.pin-title { 
    font-size: large;
    text-decoration:none;
}
.pin-description { 
    font-size: medium;
    color:#555;
}
.pin-tag { 
    display: none; 
}
.tools {
    font-size:medium;
    padding-top: 10px;
}
.tools a {
    font-size:large;
}
.toolitem p {
    margin-bottom: 15px;
}

.tldr {
  min-height: 20px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  font-size: smaller;
}

.tldr .tldrTitle {
    font-weight: bold;
    color: #999999;
    font-size: larger;
}

.tldr p {
    margin: 0;
    padding: 0;
}

img {
  display: inline-grid;
  max-width: 100%;
  border-radius: 0px;
  margin: 0px;
}

.hide {
    display: none;
}

input, textarea, button {
    font-size: 1.0em;
    border: 1px solid #ddd;
    padding: 0.9em;
    margin-bottom: 0.9em;
    width: 75%;
}

.bookWrapper {
    padding: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    line-height: 22px;
}

.bookTitle {
    font-size: larger;
}

.bookAuthor {
    margin-bottom: 15px;
    font-size: smaller;
}

.bookInfo {
    font-size: smaller;
}

.bookImg {
    height: 150px;
    width: auto;
    float: left;
    margin-right: 20px;
	box-shadow: 2px 8px 8px -5px;
}
  
.projectTitle {
    margin-top: 40px;
    padding: 7px;
    background-color: #e6e6e6;
    border-radius: 3px;
    margin-bottom: 20px;
  }
