html {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.bio-table {
    font-size: 85%;
}

.sidebar {
    background-image: url('/public/images/bkgd-dark.jpg');
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.sidebar-nav-item {
    line-height: 1.25;
  }

.sidebar-about .lead {
    font-family: 'Lato', sans-serif;
    line-height: 25px;
}

.related-posts h3 {
  font-size: 85%;
}

.post-date {
    font-size: 85%;
}

.pin-title { 
    font-size: large;
    text-decoration:none;
}
.pin-description { 
    font-size: medium;
    color:#555;
}
.pin-tag { 
    display: none; 
}

img {
  display: inline-grid;
  max-width: 100%;
  border-radius: 0px;
  margin: 0px;
}

.hide {
    display: none;
}

.bookWrapper {
    padding: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    line-height: 22px;
}

.bookTitle {
    font-size: larger;
}

.bookAuthor {
    margin-bottom: 15px;
    font-size: smaller;
}

.bookInfo {
    font-size: smaller;
}

.bookImg img {
    height: 150px;
    width: auto;
    float: left;
    margin-right: 20px;
	box-shadow: 2px 8px 8px -5px;
}
