.bio-table {
    font-size: 85%;
}

.sidebar {
    background-image: url('/public/images/bkgd.jpg');
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.sidebar-about .lead {
    font-size: 1.3rem;
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
}

/*.sidebar-sticky {
    position: absolute;
    right:  1rem;
    left:   1rem;
    top:    1rem;
}*/

.related-posts h3 {
  font-size: 85%;
}

.post-date {
    font-size: 85%;
}

.pin-title { 
    font-size: large;
    text-decoration:none;
}
.pin-description { 
    font-size: medium;
    color:#555;
}
.pin-tag { 
    display: none; 
}
.tools {
    font-size:medium;
    padding-top: 10px;
}
.tools a {
    font-size:large;
}
.toolitem p {
    margin-bottom: 15px;
}

