<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<!-- News -->
<script>
        jQuery.get( "https://blogrollcontent.firebaseio.com/.json", function( response ) {
            var html = "<table>";

            for (var newsitem in response) {
                html = html + "<tr><td><a href='" + response[newsitem].URL + "'>" + response[newsitem].Post + "</a></td><td><small>" + response[newsitem].Date + "</small></td></tr>";
            }

            html = html + "</table>";
            var newsElement = document.getElementById("news");
            if(newsElement != null)
            {
                newsElement.innerHTML = html;
            }
        } );
</script>