<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/bio">Bio</a>
      <a class="sidebar-nav-item" href="/projects">Projects</a>
      <a class="sidebar-nav-item" href="/contact">Contact</a>
      <a class="sidebar-nav-item" href="/tools">Tools</a>
      <a class="sidebar-nav-item" href="/books">Books</a>
      <a class="sidebar-nav-item" href="/news">Ecommerce News</a>
      <a class="sidebar-nav-item" href="https://heard.photo">Photo Stories</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}</p>
  </div>
</div>
