$bloquoteColor: #646464;
$tableStriped: #f9f9f9;
$tableHeader: #fff;
$tableHeaderText: #383838;
$tableBorder: #e5e5e5;
$statsPillColor: #c7e1f0;
$statsPillBorderColor: #8cc5e6;
$statsPillTextColor: #444444;

blockquote {
    font-size: 14px;
    color: $bloquoteColor;
    line-height: 1.25;
    margin-left: 25px; 
    padding-left: 5px;
    border-left: 1px solid $bloquoteColor;  
}

.post-source {
    margin-top: 20px;
}

pre {
    word-break: normal;
    line-height: 1.5;
}

.pin-title { 
    font-size: large;
    text-decoration:none;
}
.pin-description { 
    font-size: medium;
    color:#555;
}
.pin-tag { 
    display: none; 
}

// .bookImg img {
//     height: 150px;
//     width: auto;
//     float: left;
//     margin-right: 20px;
// 	box-shadow: 2px 8px 8px -5px;
// }

/* Tables */

table {
    width: 85%;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
  }
  th,
  td {
    padding: 2px 5px;
    text-align: left;
  }
  th {
    background-color: $tableHeader;
    font-size: 12px;
    text-transform: uppercase;
    color: $tableHeaderText;
    border-bottom: 1px solid $tableBorder;
    padding: 0px;
  }
  tbody tr:nth-child(odd) td {
    background-color: $tableStriped;
  }

.datatable {
    table {
        width: 100%;
    }
    td {
        padding: 3px;
        white-space: nowrap;
        font-size: 14px;
        .bookImg {
            height: auto;
            max-width: 20px;
            vertical-align: middle;   
        }
    }
}

.stats {
    ul {
        list-style-type: none;
        margin: 0 0 20px 0;
        padding: 0;
    }
    li {
        display: inline;
        background-color: $statsPillColor;
        border: 1px solid $statsPillBorderColor;
        color: $statsPillTextColor;
        padding: 5px 10px 5px 10px;
        border-radius: 8px;
        font-size: 12px;
        font-family: sans-serif;
        margin-left: 3px;
        .statsBold {
            font-weight: bold;
        }
    }
}

.profileImg {
    border-radius: 50%;
}
